<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pixelkurashi.repository.MoneyRecordRepository">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO money_record
        (record_date, amount, category_id, memo) VALUES (#{recordDate}, #{amount}, #{categoryId},
        #{memo})
    </insert>

    <select id="findByMonth" resultMap="MoneyRecordResponseMap">
    SELECT 
        mr.id,
        mr.record_date,
        mr.amount,
        mr.category_id,
        mr.memo,
        mr.created_at,
        mr.updated_at,
        cm.name as category_name
    FROM money_record mr
    LEFT JOIN category_master cm ON mr.category_id = cm.id
    WHERE YEAR(record_date) = #{year} AND MONTH(record_date) = #{month}
    ORDER BY record_date DESC
</select>
 
<select id="findByDay" resultMap="MoneyRecordResponseMap">
    SELECT 
        mr.id,
        mr.record_date,
        mr.amount,
        mr.category_id,
        mr.memo,
        mr.created_at,
        mr.updated_at,
        cm.name as category_name
    FROM money_record mr
    LEFT JOIN category_master cm ON mr.category_id = cm.id
    WHERE DATE(record_date) = #{date}
    ORDER BY record_date DESC
</select>

    <delete id="deleteById"> DELETE FROM money_record WHERE id = #{id} </delete>

    <update id="updateById"> 
        UPDATE money_record 
        SET record_date = #{recordDate}, amount = #{amount}, category_id = #{categoryId}, memo = #{memo}, updated_at = NOW() 
        WHERE id = #{id} 
    </update>

    <resultMap id="MoneyRecordResponseMap" type="com.example.pixelkurashi.dto.MoneyRecordResponse">
    <constructor>
        <idArg column="id" javaType="java.lang.Long"/>
        <arg column="record_date" javaType="java.time.LocalDate"/>
        <arg column="amount" javaType="java.lang.Integer"/>
        <arg column="category_id" javaType="java.lang.Long"/>
        <arg column="category_name" javaType="java.lang.String"/>
        <arg column="memo" javaType="java.lang.String"/>
        <arg column="created_at" javaType="java.time.LocalDateTime"/>
        <arg column="updated_at" javaType="java.time.LocalDateTime"/>
    </constructor>
</resultMap>

    <select id="findAll" resultMap="MoneyRecordResponseMap">
    SELECT 
        mr.id,
        mr.record_date,
        mr.amount,
        mr.category_id,
        mr.memo,
        mr.created_at,
        mr.updated_at,
        cm.name as category_name
    FROM money_record mr
    LEFT JOIN category_master cm ON mr.category_id = cm.id
    ORDER BY mr.id
    </select>

</mapper>